.Footer{
    padding: 75px 0px 42px 0px;
    color: #1C1B1B;
    font-family: Gotham-Light;
    letter-spacing: 1px;
}
.FooterContainer{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}
.FooterInner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}
.FooterInnerTwoBLocks{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 60%
}

.FooterInner_Social{
    margin-top: 10px;
    padding: 0px 40px;
}
.fab{
    margin-top: 0px;
    font-size: 25px;
    margin-right: 30px;
    color: #343232;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.fab:hover{
    color: #000000;
    opacity: 1;
}
.fa-facebook-f{
    font-size: 23px;
}

.FooterInner_Info{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.FooterInner_Info-h2{
    font-family: Gotham-Book;
    margin-bottom: 20px;
    font-size: 17px;
    cursor: default;
}
.FooterInner_Info-link{
    text-align: left;
    font-size: 14px;
    color: #1C1B1B;
    margin-bottom: 15px;
}
.FooterInner_Info-link:last-child{
    margin-bottom: 0px;
}
.FooterInner_Info-link:after {
	display: block;
	position: relative;
    top: 0px;
    left: 0;
	width: 0;
	height: 1px;
	background-color: #a5a5a5;
	content: "";
	transition: width 0.3s ease-out;
}
.FooterInner_Info-link:hover:after,
.FooterInner_Info-link:focus:after {
	width: 100%; 
}

.FooterInner_SignIn{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    width: 400px;
}

.FooterInner_SignIn-p{
    font-size: 14px;
    margin-bottom: 18px;
    cursor: default;
}
.FooterInner_SignIn-Input{
    padding: 12px 14px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    color: #666;
    width: 100%;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.FooterInner_SignIn-Input:hover{
    border: 1px solid #363535;
}

.FooterInner_SignIn-Button{
    background-color: #9fb09e;
    color: #ffffff;
    padding: 14px 28px;
    transition: all 0.4s;

    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.FooterInner_SignIn-Button:hover{
    background-color: #93a092;
}

.FooterAside-p{
    font-size: 14px;
    color: #2e2d2d;
    text-align: left;
    margin: 30px 40px 0px 40px;
    cursor: default;
}

@media (max-width:1138px){
    .FooterContainer{padding: 0px 10px;}
    .FooterInner{flex-direction: column;}
    .FooterInnerTwoBLocks{width: 100%; margin-bottom: 50px;}
    .FooterInner_Social{width: 50%; text-align: left;}
    .FooterInner_Info{width: 50%;}
    .FooterInner_SignIn{width: 100%;}}

@media (max-width:630px){
    .Footer{padding: 34px 0px;}
    .FooterInner_Social{margin-top: 0px; margin-bottom: 48px;}
    .FooterInner{flex-direction: column;}
    .FooterInnerTwoBLocks{margin-bottom: 48px; flex-direction: column;}
    .FooterInner_Info{width: 50%;}
    .FooterInner_SignIn{width: 100%;}}

@media (max-width:500px){
    .FooterContainer{padding: 0px 0px;}
    .FooterInner_Social{padding: 0px 24px; width: 100%;}
    .FooterInner_Info{padding: 0px 24px; width: 100%;}
    .FooterInner_SignIn{padding: 0px 24px;}
}