/*----------------------------------ImageSlider------------------------------------------------*/

.mainImageSlider{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ImageSlider{
    top: 0;
    left: 0;
    background-color: white;
    display: block; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ImageSliderImg{
    flex: 1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    object-position: 50% center;
}

.ImageSliderImgHide{
    flex: 1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    object-position: 50% center;
    display: block;
}

.ImageSlider-Prev-Next{
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 5vw;
    z-index: 3;
    font-size: 100px;
}

.ImageSlider-Button-Prev-Next{
    background-color: transparent;
    opacity: 1;
    margin: 0px 0px;
}


.circle-sign {
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-width: 2px;
    border: 3px solid #ff0000;
    background-color: #ff0000;
    color: transparent;
    border-radius: 50%;
}

#element {
    position:absolute;
    top: 60vh;
    left: 0;
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.65));
}

.ImageSlider-Text-Buttom{
    position: absolute;
    top: 70vh;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 24px;
    z-index: 4;
    
    opacity: 0;
    transform: translateY(200px);
}
.visible {
    animation: text-appear 0.5s ease forwards, text-disappear 0.5s ease forwards 6.0s;
  }
  @keyframes text-appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes text-disappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }


.ImageSlider-Text-Buttom-1{
    position: absolute;
    top: 70vh;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 24px;
    z-index: 4;

    opacity: 0;
    transform: translateY(200px);
}
.visible1 {
    animation: text-appear 0.5s ease forwards, text-disappear 0.5s ease forwards 6.0s;
}
  @keyframes text-appear1 {
    from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
  }
  @keyframes text-disappear1 {
    from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(20px);
      }
  }

.ImageSlider-p{
    color: #ffffff;
    font-family: Gotham-Book;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    cursor: default;
}
.ImageSlider-Button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}
.ImageSlider-Button-p {
    text-decoration: none;
    font-family: Gotham-Light;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 14px 28px;
    background-color: #ffffff;
    transition: 0.3s;
}
.ImageSlider-Button-p:hover{
    background-color: #eee4e1;
}

@media screen and (max-width: 750px){
    .ImageSliderImgHide {
        display: none;
    }
    .ImageSlider{
        grid-template-columns: repeat(1, 1fr);
    }   
}

@media (max-width: 450px){.ImageSlider-Prev-Next{opacity: 0;}}
@media (max-width: 400px){.ImageSlider-p{margin-bottom: 15px;}}
@media (max-width: 345px){.ImageSlider-Button-p {font-size: 16px;}}
@media (max-width: 290px){.ImageSlider-Button-p {padding: 10px 20px;}}

/*----------------------------------CollectionSea------------------------------------------------*/

.CollectionSea{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

.p-light{
    font-family: Gotham-Light;
    padding: 0px 24px;
    letter-spacing: 1.5px;
    cursor: default;
}

.p-title-book{
    font-family: Gotham-Book;
    font-size: 30px;
    padding: 0px 24px;
    cursor: default;
}

.CollectionSeaCards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:flex-start;
    
    margin-top: 50px;
    padding: 0px 60px;
}

.CollectionSeaCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    margin-bottom: 40px;
    color: #000000;

    border: solid 1px transparent;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.5s;
}
.CollectionSeaCard:hover{
    border: solid 1px rgba(0, 0, 0, 0.15);
}

.CollectionSeaCard-Img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.CollectionSeaCard-h5{
    margin-top: 25px;
    font-weight: 600;
    opacity: 0.8;
    font-size: 16px;
    font-family: Gotham-Light;
}

.CollectionSeaCard-p{
    margin-top: 5px;
    font-weight: 900;
    font-size: 13px;
    font-family: Gotham-Light;
    opacity: 0.6;
}

.CollectionSeaButton{
    display: flex;
    justify-content:space-around;
    padding: 0px 24px;
}
.CollectionSeaAHref{
    color: #ffffff;
    background-color: #9fb09e;
    padding: 14px 28px;
    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 500;
    opacity: 0.9;
    letter-spacing: 1px;

    transition: all 0.4s;
}
.CollectionSeaAHref:hover{
    background-color: #93a092;
}

@media (max-width:1138px){.CollectionSeaCards{padding: 0px 24px;}}
@media (max-width:1005px){.CollectionSeaCard{width: 48.9%; margin-bottom: 30px;}}
@media (max-width:760px){.CollectionSeaCard{padding: 0px;}
                         .CollectionSea{padding: 60px 0px;}}
@media (max-width:620px){.CollectionSeaCards{padding: 0px 10px; margin-top: 35px;}
                         .CollectionSea{padding: 35px 0px;}
                         .CollectionSeaCard-h5{font-weight: 500; margin-top: 20px;}
                         .CollectionSeaCard-p{opacity: 0.4;}
                         .CollectionSeaCard-Img{aspect-ratio: 0.8;}}

/*----------------------------------FourPhotoCatalog------------------------------------------------*/

.FourPhotoCatalog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    margin: 0px 15px;
}
.FourPhotoCatalog-Card{
    padding: 15px;
    width: 50%;
    height: 530px;
}
.FourPhotoCatalog-Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FourPhotoCatalog-Texts{
    padding: 0px 50px;
    text-align: left;
    margin-top: -160px;
}
.FourPhotoCatalog-h2{
    font-family: Gotham-Light;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 4px;
    margin-bottom: 45px;
}
.FourPhotoCatalog-AHref{
    background-color: #ffffff;
    padding: 14px 28px;

    color: #000000;
    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 500;
    opacity: 0.9;
    letter-spacing: 1px;

    transition: all 0.4s;
}
.FourPhotoCatalog-AHref:hover{
    color: #ffffff;
}


@media (max-width:1138px){.FourPhotoCatalog-Card{height: 480px;}
                          .FourPhotoCatalog-Texts{margin-top: -135px; padding: 0px 40px;}
                          .FourPhotoCatalog-h2{margin-bottom: 35px;}}
@media (max-width:640px){.FourPhotoCatalog-Card{width: 100%; height: 474px; padding: 12px;}
                         .FourPhotoCatalog-Texts{margin-top: -120px; padding: 0px 24px;}
                         .FourPhotoCatalog-h2{margin-bottom: 35px;}
                         .FourPhotoCatalog{margin: 0px 12px;}}


/*----------------------------------StoreInfo------------------------------------------------*/

.SroteInfo{
    padding:80px 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.SroteInfo-Img{
    width: 75%;
    height: 550px;
    object-fit: cover;
    padding: 0% 10%;
}
.SroteInfo-Info{
    padding: 50px 60px;
    font-family: Gotham-Light;
    letter-spacing: 0.8px;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.SroteInfo-Info-h1{
    font-family: Gotham-Book;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 30px;
    margin-bottom: 30px;
    cursor: default;
}
.SroteInfo-Info-address{
    font-size: 15px;
    margin-bottom: 45px;
    cursor: default;
}
.SroteInfo-Info-hour{
    font-size: 17px;
    font-family: Gotham-Book;
    letter-spacing: 0px;
    font-weight: 900;
    font-style: bold;
    margin-bottom: 5px;
    cursor: default;
}
.SroteInfo-Info-hourinfo{
    font-size: 15px;
    margin-bottom: 57px;
    cursor: default;
}
a.SroteInfo-Info-AHref{
    background-color: #9fb09e;
    color: #ffffff;
    padding: 14px 28px;
    transition: all 0.4s;

    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
.SroteInfo-Info-AHref:hover{
    background-color: #93a092;
}
a.SroteInfo-Info-AHref.css{
    width: 50%;
}


@media (max-width:1138px){.SroteInfo{padding:80px 50px;}}
@media (max-width:1007px){.SroteInfo{padding:50px 50px;}}

@media (max-width:1110px){.SroteInfo-Img{padding: 0% 9%;}}
@media (max-width:1000px){.SroteInfo-Img{padding: 0% 7%;}}
@media (max-width:930px){.SroteInfo-Img{padding: 0% 3%;}}
@media (max-width:860px){.SroteInfo-Img{padding: 0% 0%; width: 55%;}}
@media (max-width:800px){.SroteInfo-Img{width: 45%;}}
@media (max-width:670px){.SroteInfo-Img{width: 40%;}}

@media (max-width:640px){.SroteInfo{padding:50px 24px;
                                    flex-direction: column-reverse; 
                                    justify-content: center;}
                         .SroteInfo-Info{padding: 25px;}
                         .SroteInfo-Img{width: 100%; height: 240px; padding: 0px 25px; margin-top: 10px;}
                         .SroteInfo-Info-h1{margin-bottom: 30px;}
                         .SroteInfo-Info-address{margin-bottom: 20px;}
                         .SroteInfo-Info-hourinfo{margin-bottom: 45px;}}

@media (max-width:450px){.SroteInfo-Img{padding: 0px 0px;}}
@media (max-width:400px){.SroteInfo{padding:24px 24px;}}



/*----------------------------------NewProducts------------------------------------------------*/

.NewProducts{
    padding:80px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px #bebebe;
}
.NewProducts-Slider{
    display: block;
    padding: 0px 80px;
}

.SimpleSliderCard{
    display: block;
    padding: 30px;
    color: #000000;

    border: solid 1px transparent;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.5s;
}

.SimpleSliderCard-Img{
    width: 100%;
    height: 100%;
    aspect-ratio: 0.8;
    object-position: 50%;
    object-fit: cover;
}
.SimpleSliderCard-h5{
    margin-top: 25px;
    font-weight: 600;
    opacity: 0.8;
    font-size: 16px;
    font-family: Gotham-Light;
    margin-bottom: 15px;
}

.SimpleSliderCard-p{
    margin-top: 5px;
    font-weight: 900;
    font-size: 13px;
    font-family: Gotham-Light;
    opacity: 0.6;
}

.NewProducts-Slider-AHref-div{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 80px;
}
.NewProducts-Slider-AHref{
    background-color: #9fb09e;
    color: #ffffff;
    padding: 14px 28px;
    transition: all 0.4s;

    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}
.NewProducts-Slider-AHref:hover{
    background-color: #93a092;
}

.slick-arrow.slick-prev{
    position: absolute;
    top: 200px;
    left: -40px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    color: #000;
    border-radius: 50%;
    box-shadow: 
        -7px 0px 7px rgba(150, 150, 150, 0.2), 
        7px 0px 7px rgba(150, 150, 150, 0.2),   
        0px -7px 7px rgba(150, 150, 150, 0.2),  
        0px 7px 7px rgba(150, 150, 150, 0.2);   
}
.slick-arrow.slick-next{
    position: absolute;
    top: 200px;
    right: -40px;
    background-color: transparent;
    color: #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 
        -7px 0px 7px rgba(150, 150, 150, 0.2), 
        7px 0px 7px rgba(150, 150, 150, 0.2),  
        0px -7px 7px rgba(150, 150, 150, 0.2), 
        0px 7px 7px rgba(150, 150, 150, 0.2);  
}


@media (max-width:1007px){.NewProducts{padding:50px 0px;}
                          .NewProducts-Slider-AHref-div{margin-bottom: 50px;}
                          .NewProducts-Slider{padding: 0px 1px;}                          
                          .SimpleSliderCard{padding: 20px; margin: 0px 15px 0px 15px; }
                          .SimpleSliderCard-Img{aspect-ratio: 0.7;}}

@media (max-width:750px){.SimpleSliderCard{padding:0px 15px; margin: 0px;}}
@media (max-width:630px){.NewProducts{padding:50px 24px 30px 24px;}
                         .NewProducts-Slider-AHref-div{margin-top: 40px;}
                         .SimpleSliderCard{padding:0px 12px;}
                         .SimpleSliderCard-Img{height: 52.5vh; aspect-ratio: 0.6;}}
@media (max-width:500px){.SimpleSliderCard-Img{height: 41vh;}}
@media (max-width:400px){.NewProducts{padding:24px 24px;}
                         .NewProducts-Slider-AHref-div{margin-bottom: 44px; padding: 0px 24px;}
                         .SimpleSliderCard-Img{height: 39vh; aspect-ratio: 0.6;}}
@media (max-width:373px){.NewProducts-Slider-AHref{font-size: 15px;}}
@media (max-width:373px){.NewProducts-Slider-AHref{font-size: 15px;}}
@media (max-width:344px){.NewProducts-Slider-AHref{font-size: 12px;}}

